doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title carouFredSel sample
    link(rel="stylesheet" href="css/style.css" media="all")
  body
    h1.page-heading carouFredSel sample
    .contents
      //- カルーセル ここから
      .mainvisual
        ul.mainvisual-list
          li: a(href="#"): img(src="http://c1.staticflickr.com/2/1639/26123212664_0b64f1dee9_c.jpg" alt="")
          li: a(href="#"): img(src="http://c7.staticflickr.com/2/1442/26173378046_db964ed660_c.jpg" alt="")
          li: a(href="#"): img(src="http://c1.staticflickr.com/2/1634/25981549816_e0a5176cc0_c.jpg" alt="")
          li: a(href="#"): img(src="http://c5.staticflickr.com/2/1536/24598112396_93347d0a34_c.jpg" alt="")
          li: a(href="#"): img(src="http://c8.staticflickr.com/2/1529/24930391039_5dc0d3e3b2_c.jpg" alt="")
          li: a(href="#"): img(src="http://c7.staticflickr.com/2/1581/24406783350_55e13e936a_c.jpg"  alt="")
        .mainvisual-thumbs
          img(src="http://c1.staticflickr.com/2/1639/26123212664_0b64f1dee9_c.jpg" alt="")
          img(src="http://c7.staticflickr.com/2/1442/26173378046_db964ed660_c.jpg" alt="")
          img(src="http://c1.staticflickr.com/2/1634/25981549816_e0a5176cc0_c.jpg" alt="")
          img(src="http://c5.staticflickr.com/2/1536/24598112396_93347d0a34_c.jpg" alt="")
          img(src="http://c8.staticflickr.com/2/1529/24930391039_5dc0d3e3b2_c.jpg" alt="")
          img(src="http://c7.staticflickr.com/2/1581/24406783350_55e13e936a_c.jpg"  alt="")
        .slide-arrow.left ＜
        .slide-arrow.right ＞
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="js/jquery.carouFredSel-6.2.1-packed.js")
    script(src="js/common.js")
